
                <div class="nav-item dropdown"><a id="connectWallet" class="nav-link btn btn-warning btn text-dark connectAcc" style="background: #49281a;border: 1px solid #49281a;color: #fff !important;letter-spacing: 2px !important;">Connect</a></div>

        <%- include('./common/footer') %>