<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="yield farming, defi, liquidity mining, lp mining, tron farming">
    <meta name="description" content="TOKMAX yield farming pool. Best defi LP Mining project on tron blockchain to earn daily rewards passively.">
    <title>DeFi Yield Farming - TOKMAX Liquidity Mining</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="assets/fontawesome-all.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="assets/adminlte.css">-->
    <link href="assets/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic,100italic,100' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="TOKMAX">
    <meta name="application-name" content="TOKMAX">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:url" content="/" />
    <meta property="og:title" content="DeFi Yield Farming - TOKMAX Liquidity Mining" />
    <meta property="og:description" content="Earn daily yield farming rewards with TOKMAX LP mining project. Stake TOKMAX LP tokens to earn TOKMAX tokens passively." />
    <meta property="og:image" content="/images/TOKMAX-defi-main.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="DeFi Yield Farming - TOKMAX Liquidity Mining">
    <meta name="twitter:description" content="Earn daily yield farming rewards with TOKMAX LP mining project. Stake TOKMAX LP tokens to earn TOKMAX tokens passively.">
    <meta name="twitter:image" content="/images/TOKMAX-defi-main.png">
    <meta name="twitter:domain" content="/">
    <link rel="canonical" href="/" />
    <style>
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand cNav" style="background-color:rgb(255, 255, 255);border-bottom: 1px solid rgb(238, 238, 238);margin-left: 0px !important;height:64px;position:fixed;width:100%;">
            <ul class="navbar-nav" style="padding-top: 0.7em;"> <a class="nav-link cSmall2" style="color: #111;font-size: 22px;padding-right:1rem;padding-top: 0.2rem;" data-widget="pushmenu"><i class="fas fa-bars" style="cursor: pointer;"></i></a>
                <li class="nav-item">
                    <a href="/" class="brand-link cBrand" style="height:70px;"> <img src="https://img.icons8.com/material-rounded/48/49281a/cafe--v1.png" alt="AdminLTE Logo" class="brand-image" style="box-shadow: none!important;max-height: 30px;"> <span style="color: #49281a;font-weight: 500;font-size: 24px;vertical-align: middle;">TOKMAX</span> </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto cHead">
                <li class="nav-item dropdown"><a id="connectWallet" class="nav-link btn btn-warning btn text-dark connectAcc" style="background: #49281a;border: 1px solid #49281a;color: #fff !important;letter-spacing: 2px !important;">Connect</a></li>
            </ul>
        </nav>
        <%- include('./common/footer') %>