<%- include('./common/header') %>


    <main>
        <!-- breadcrumb area start -->

        <section class="breadcrumb-area pt-40 pb-40 bg_img" data-background="https://xpressrow.com/html/cafena/cafena/assets/images/bg/breadcrumb-bg-1.jpeg" data-overlay="dark" data-opacity="5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <h2 class="page-title" style="font-weight:300;color: #C7A17A;">TOKMAX STAKING POOL</h2>
                        <div class="cafena-breadcrumb breadcrumbs">
                            <ul class="list-unstyled d-flex align-items-center justify-content-center">
                                <li class="cafenabcrumb-item duxinbcrumb-begin">
                                    <a href="#"><span style="color: #C7A17A;">STAKE TOKMAX TOKENS TO EARN MORE</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- wcu section start -->
        <section class="wcu__area pt-100 pb-100">
            <div class="container">

                <div class="row" style="justify-content:center;">
                    <div class="col-xl-4 col-lg-4 col-md-8 mt-30 text-center">
                        <div class="wcu__item">
                            <ul class="about__list list-unstyled" style="text-align: left;margin-bottom: 1px;padding-top: 25px;">
                                <li><span style="color: #1b2026 !important;font-size: 15px;"><i class="icon fal fa-long-arrow-right" style="margin-bottom: 20px;background: #fff;color: #000;line-height: 30px;width: 30px;height: 30px;margin-right: 5px;"></i> TOTAL STAKED TOKENS </span><span style="text-align:right;color: #1b2026 !important;">16</span></li>
                                <li><span style="color: #1b2026 !important;font-size: 15px;"><i class="icon fal fa-long-arrow-right" style="margin-bottom: 20px;background: #fff;color: #000;line-height: 30px;width: 30px;height: 30px;margin-right: 5px;"></i> MY STAKING SHARE </span><span style="text-align:right;color: #1b2026 !important;">16</span></li>
                                <li><span style="color: #1b2026 !important;font-size: 15px;"><i class="icon fal fa-long-arrow-right" style="background: #fff;color: #000;line-height: 30px;width: 30px;height: 30px;margin-right: 5px;"></i> POOL SUPPLY </span><span style="text-align:right;color: #1b2026 !important;">321424</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-8 mt-30 text-center">
                        <div class="wcu__item">
                            <div class="content">
                                <h2 class="title" style="font-weight: 400;margin-bottom: 0px;font-size: 24px;">STAKING</h2>
                                <hr style="width:100%; margin: auto;color:#000  " />
                                <span class="price" style="color: #C7A17A;font-size: 25px;font-family: 'Bebas Neue', cursive;padding-top: 10px;">12.00</span>
                                <h5 style="font-weight: 400;"> Tokens Staked</h5>
                                <button class="btn btn_primary text-uppercase" style="margin-top: 25px;">Approve</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-8 mt-30 text-center">
                        <div class="wcu__item">
                            <div class="content">
                                <h2 class="title" style="font-weight: 400;margin-bottom: 0px;font-size: 24px;">Rewards</h2>
                                <hr style="width:100%; margin: auto;color:#000  " />
                                <span class="price" style="color: #C7A17A;font-size: 25px;font-family: 'Bebas Neue', cursive;padding-top: 10px;">12.00</span>
                                <h5 style="font-weight: 500;">TOK EARNED</h5>
                                <button class="btn btn_primary text-uppercase" style="margin-top: 25px;">Withdraw</button>
                            </div>
                        </div>
                </div>
            </div>
        </section>
        <!-- wcu section end -->



    </main>
<%- include('./common/footer') %>